# Python
__pycache__/
*.pyc

# Airflow
logs/
*.log
airflow.db
airflow.cfg

# Data files
data/python_etl/staging/*
!data/python_etl/staging/.gitkeep

# Local environment
.env
.env.localrunner

# Docker volumes
db-data/